.a{
    background-color: aquamarine;
    margin:2%;
    padding:2%;
    border: 2px solid lightblue;
    border-radius: 50px;
    display: flex;
   

}
.b{

background-color: white;
font-size: 120%;
width: 60%;
height: 40px;
border: none;
cursor: pointer;



}

.c{

    width: 40px;
    height: 39px;
    border: 1px solid white;
    cursor: pointer;

    
   }

   .d{

    width: 40px;
    height: 39px;
    border: 1px solid white;
    cursor: pointer;
   }

   .e{

    width: 40px;
    height: 39px;
    border: 1px solid white;
    cursor: pointer;
   }

   .f{

    width: 40px;
    height: 39px;
    border: 1px solid white;
    cursor: pointer;
    
   }

   .g{

    width: 40px;
    height: 39px;
    border: 1px solid white;
    cursor: pointer;
   }

   .j{

    width: 40px;
    height: 39px;
    border: 1px solid white;
    cursor: pointer;
   }

   .k{

    width: 40px;
    height: 39px;
    border: 1px solid white;
    cursor: pointer;
   }

   .l{

    width: 40px;
    height: 39px;
    border: 1px solid white;
    cursor: pointer;
   }

.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
   
   
}

.p img{
    width: 80%;
    height: 80%;
    justify-content: center;
    border-radius:10px;

}

 .p{

        width: 18%;
        height: 10%;
        padding: 0.5%;
        /* border:2px solid #333; */
        /* border-radius: 2%; */
    }






